
@import "bootstrap/scss/functions";

// Custom variables
$rich-black: #0c1518ff;
$rich-white: #fdf6f2;
$brunswick-green: #044340ff;
$cornsilk: #faf2d1ff;
$terracota: #dc6954;
$light-terracota: #eebeaa;
$light-terracota-2: #e9a194;

$body-bg: $light-terracota;
$body-color: $rich-black;
$primary: $terracota;
$link-color: $primary;
$link-hover-color: #cd462f;

$card-bg: $brunswick-green;
$card-color: $cornsilk;

$display-font-weight: 700;

@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";

@import "bootstrap/scss/bootstrap";

// Custom code
@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
    @if $inset {
      -webkit-box-shadow:inset $top $left $blur $color;
      -moz-box-shadow:inset $top $left $blur $color;
      box-shadow:inset $top $left $blur $color;
    } @else {
      -webkit-box-shadow: $top $left $blur $color;
      -moz-box-shadow: $top $left $blur $color;
      box-shadow: $top $left $blur $color;
    }
  }

.nav {
    border-bottom: $primary 0.2rem solid;
    padding: 0.3rem 0rem 0.5rem 1rem;
    background-color: $brunswick-green;
    height: 15svh;
    @include box-shadow(0px, 10px, 1.5rem, #dc685485);
    .nav-link {
        color: $cornsilk;
        margin: 0.5rem;
        margin-bottom: 0;
    }
    .nav-link:hover {
        color: rgba(248, 231, 164, 0.955);
    }
    .navbar-brand {
        display: block;
        width: 80px;
        padding: 0.3rem;
        align-self: left;
        transition: transform 0.5s ease-in-out;
        transform-origin: center;
    }
    .navbar-brand:hover {
        transform: rotateZ(10deg);
    }
}

.btn {
    transition: 0.05s;
}

.nav .btn:hover {
    outline: $primary 3px solid;
    border-radius: 0.8rem 0.8rem 0 0;
    border-bottom: none;
    
}

.card a {
    color: $rich-white;
}

.nav-link.active {
    font-weight: 600;
}
.title {
    color: $terracota;
    letter-spacing: -0.08rem !important;
}

body {
    scroll-padding-top: 15vh;
}

.sect {
    padding: 2rem;
    background-color: $light-terracota;
}

.hero {
    min-height: 85svh;
    height: fit-content;
    .img-wrap {
        min-width: 30vw;
    }
    img {
        min-height: 300px;
        object-fit: contain;
    }
}

.proyectos {
    padding-top: 2.5rem;
    .card-img-top {
        min-height: 15rem;
        object-fit: cover;
    }
    h2 {
        margin-bottom: 2rem;
    }
}

footer {
    background-color: $brunswick-green;
    color: $cornsilk;
    padding: 1rem 2rem;
}

.contacto {
    background-color: $cornsilk;
    box-shadow: none;
    div {
        margin: auto;
        max-width: 675px;
    }
    a {
        display: inline-block;
        font-weight: 600;
        text-decoration: none;
        color: $brunswick-green !important;

        transition: 0.2s;
        
    }
    a:hover {
        color: rgb(5, 107, 102) !important;
        transform: translateY(5px);
    }

}

.icono {
    width: 1em;
    font-size: 25px;
}

@media screen and (min-width: 600px) {
    
    .sect {
        padding: 5rem;
    }
}